<div class="container">
  <h1>Stack Overflow</h1>

  <table class="table table-condensed">
  <thead>
    <tr>
    <th><a href="/users/new">Sign Up</a></th>
    <th><a href="/questions/new">Add Question</a></th>
    <th><a href="/answers/new">Add Answer</a></th>
    <th><a href="/votes/new">Add Vote</a></th>
    </tr>
    <tr>
      <td><a href="/questions">Edit a Question</a></td>
    </tr>
  </thead>
  </table>
  <table class="table">
    <thead>
    <tr> 
      <th>Question</th>
      <th>Answer Count</th>
      <th>Vote Count</th>
    </tr>
    </thead>
    <tbody>
    <% @questions.each do |question| %>
    <tr>
      <td> <%= question.question_title %> </td>
      <td><%= @answers.count %> </td>
      <td><%= @votes.count %> </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>
