
<h2>Get Form</h2>
  <form action="/sandbox" method="get">
    <input type="text" name="message">
    <input type="submit">

    <input type="radio" name="message">
    <input type="submit">

    <input type="checkbox" name="message">
    <input type="submit">

    <input type="text" name="post[title]">
    <textarea cols="40" rows="5" name="options">
      write something amazing!
    </textarea>

    <select name="mydropdown">
      <option value="Milk">Fresh Milk</option>
      <option value="Cheese">Old Cheese</option>
      <option value="Bread">Hot Bread</option>
    </select>
    <input type="submit">
    
  </form>
<h2>Post Form</h2>
  <form action="/sandbox" method="post">
    <input type="text" name="message">
    <input type="submit">
  </form>
